{% load static %}
<footer>
    <div id="footer">
        <div id="sitemap">
            <h3>Карта сайта</h3>
            <div>
                <a href="/home/">Home</a>
                <a href="/about/">About</a>
                <a href="/services/">Services</a>
            </div>
            <div>
                <a href="/partners/">Partners</a>
                <a href="/customers/">Support</a>
                <a href="/contact/">Contact</a>
            </div>
        </div>
        <div id="footer-logo">
            <p>Copyright &copy; 2022 Movies.</p>
            <a href="/"><img src="{% static 'images/logo.png' %}" alt="Whitesquare logo" height="50" width="100"></a>
        </div>
    </div>
</footer>