{% load static %}
<header>
        <a href="/"><img src="{% static 'images/logo.png' %}" alt="Whitesquare logo" height="50" width="100"></a>
        <form name="search" action="#" method="get">
            <input type="text" name="q" placeholder="Search">
            <button type="submit">GO</button>
        </form>
</header>
    <nav>
        <ul class="top-menu">
            <li><a href="/home/">HOME</a></li>
            <li class="active">ABOUT US</li>
            <li><a href="/services/">SERVICES</a></li>
            <li><a href="/partners/">PARTNERS</a></li>
            <li><a href="/customers/">CUSTOMERS</a></li>
            <li><a href="/projects/">PROJECTS</a></li>
            <li><a href="/careers/">CAREERS</a></li>
            <li><a href="/contact/">CONTACT</a></li>
        </ul>
    </nav>