<!Doctype html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Whitesquare</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
</head>
<body>
<div id="wrapper">
    <header>
        <a href="/"><img src="images/logo.png" alt="Whitesquare logo"></a>
        <form name="search" action="#" method="get">
            <input type="text" name="q" placeholder="Search">
            <button type="submit">GO</button>
        </form>
    </header>
    <nav>
        <ul class="top-menu">
            <li><a href="/home/">HOME</a></li>
            <li class="active">ABOUT US</li>
            <li><a href="/services/">SERVICES</a></li>
            <li><a href="/partners/">PARTNERS</a></li>
            <li><a href="/customers/">CUSTOMERS</a></li>
            <li><a href="/projects/">PROJECTS</a></li>
            <li><a href="/careers/">CAREERS</a></li>
            <li><a href="/contact/">CONTACT</a></li>
        </ul>
    </nav>
    <aside>
        <nav>
            <ul class="aside-menu">
                <li class="active">LOREM IPSUM</li>
                <li><a href="/donec/">DONEC TINCIDUNT LAOREET</a></li>
                <li><a href="/vestibulum/">VESTIBULUM ELIT</a></li>
                <li><a href="/etiam/">ETIAM PHARETRA</a></li>
                <li><a href="/phasellus/">PHASELLUS PLACERAT</a></li>
                <li><a href="/cras/">CRAS ET NISI VITAE ODIO</a></li>
            </ul>
        </nav>
        <h2>OUR OFFICES</h2>
        <p>
            <img src="images/sample.png" width="230" height="180" alt="Our offices">
        </p>
    </aside>
    <section>
        <div class="row">
            {% for movie in movie_list %}
            <div class="col-md-4 product-men">
                <div class="product-shoe-info editContent text-center mt-lg-4">
                    <div class="films">
                        <figure>
                            <img src="{{movie.image.url}}" width="240" height="360" alt="">
                        </figure>
                    </div>
                    <div class="item-info-product">
                        <h4 class="">
                            <a href="{{movie.get_absolute_url}}" class="editContent">{{movie.name}}</a>
                        </h4>

                        <div class="product_price">
                            <div class="grid-price">
                                <span class="money editContent">{{movie.tagline}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
<footer>
    <div id="footer">
        <div id="twitter">
            <h3>TWITTER FEED</h3>
            <time datetime="2012-10-23"><a href="#">23 oct</a></time>
            <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et
                nulla. In eget mi dui, sit amet scelerisque nunc. Aenean aug</p>
        </div>
        <div id="sitemap">
            <h3>SITEMAP</h3>
            <div>
                <a href="/home/">Home</a>
                <a href="/about/">About</a>
                <a href="/services/">Services</a>
            </div>
            <div>
                <a href="/partners/">Partners</a>
                <a href="/customers/">Support</a>
                <a href="/contact/">Contact</a>
            </div>
        </div>
        <div id="social">
            <h3>SOCIAL NETWORKS</h3>
            <a href="http://twitter.com/" class="social-icon twitter"></a>
            <a href="http://facebook.com/" class="social-icon facebook"></a>
            <a href="http://plus.google.com/" class="social-icon google-plus"></a>
            <a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
            <a href="http://youtube.com/" class="social-icon-small youtube"></a>
            <a href="http://flickr.com/" class="social-icon-small flickr"></a>
            <a href="http://instagram.com/" class="social-icon-small instagram"></a>
            <a href="/rss/" class="social-icon-small rss"></a>
        </div>
        <div id="footer-logo">
            <a href="/"><img src="images/footer-logo.png" alt="Whitesquare logo"></a>
            <p>Copyright &copy; 2012 Whitesquare. A <a href="http://pcklab.com">pcklab</a> creation </p>
        </div>
    </div>
</footer>
</body>
</html>