<!Doctype html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>DjangoMovies</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
</head>
<body>
<div id="wrapper">
    <header>
        <a href="/"><img src="{% static 'images/logo.png' %}" alt="Whitesquare logo" height="50" width="100"></a>
        <form name="search" action="#" method="get">
            <input type="text" name="q" placeholder="Search">
            <button type="submit">GO</button>
        </form>
    </header>
    <nav>
        <ul class="top-menu">
            <li><a href="/home/">HOME</a></li>
            <li class="active">ABOUT US</li>
            <li><a href="/services/">SERVICES</a></li>
            <li><a href="/partners/">PARTNERS</a></li>
            <li><a href="/customers/">CUSTOMERS</a></li>
            <li><a href="/projects/">PROJECTS</a></li>
            <li><a href="/careers/">CAREERS</a></li>
            <li><a href="/contact/">CONTACT</a></li>
        </ul>
    </nav>
    <aside>
        <nav>
            <ul class="aside-menu">
                <li class="active">LOREM IPSUM</li>
                <li><a href="/donec/">DONEC TINCIDUNT LAOREET</a></li>
                <li><a href="/vestibulum/">VESTIBULUM ELIT</a></li>
                <li><a href="/etiam/">ETIAM PHARETRA</a></li>
                <li><a href="/phasellus/">PHASELLUS PLACERAT</a></li>
                <li><a href="/cras/">CRAS ET NISI VITAE ODIO</a></li>
            </ul>
        </nav>
    </aside>
    <section>
        <div class="left-ads-display col-lg-8">
            <div class="row">
                <div class="desc1-left col-md-6">
                    <figure>
                        <img src="{{movie.image.url}}" width="180" height="240" alt="">
                    </figure>
                </div>
                <div class="desc1-right col-md-6 pl-lg-4">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                        {{movie.name}}</h3>
                    <h5 class="editContent"></h5>
                    <ul>
                        <li style="list-style: none"><span><b>Год: </b>{{movie.year}}</span></li>
                        <li style="list-style: none"><span><b>Страна: </b>{{movie.country}}</span>
                        </li>
                        <li style="list-style: none"><span><b>Слоган: </b>{{movie.tagline}}</span>
                        </li>
                        <li style="list-style: none">
                            <span><b>Режиссер: </b>
                            {% for director in movie.directors.all %}
                                {{director.name}}
                            {% endfor %}
                            </span>
                        </li>
                        <li style="list-style: none"><span><b>Актеры: </b>
                        {% for actor in movie.actors.all %}
                                {{actor.name}}
                            {% endfor %}
                        </span></li>
                        <li style="list-style: none"><span><b>Жанр: </b>
                        {% for genre in movie.genres.all %}
                                {{genre.name}}
                            {% endfor %}
                        </span>
                        </li>
                        <li style="list-style: none"><span><b>Категория: </b>{{movie.category}}</span>
                        </li>
                        <li style="list-style: none"><span><b>Рейтинг: </b>{{movie.rating}}</span>
                        </li>
                        <li style="list-style: none"><span><b>Премьера в мире: </b>{{movie.world_premiere}}</span>
                        </li>
                        <li style="list-style: none">
                            <span><b>Бюджет: </b>{{movie.budget}}</span></li>
                        <li style="list-style: none">
                            <span><b>Сборы в США: </b>${{movie.fees_usa}}</span></li>
                        <li style="list-style: none"><span><b>Сборы в мире: </b>${{movie.fees_world}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row sub-para-w3layouts mt-5">

                <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                    О фильме {{movies.name}}</h3>
                <p>
                    <img src="bundles/images/about.jpg" class="img-fluid" alt="">
                    <img src="bundles/images/admin.jpg" class="img-fluid" alt="">
                    <img src="bundles/images/d1.jpg" class="img-fluid" alt="">
                </p>
                <p class="editContent" style="outline: none; cursor: inherit;">
                    {{movie.description}}
                </p>
                <p class="mt-3 italic-blue editContent"
                   style="outline: none; cursor: inherit;">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/A36LahZNUiE?controls=0"
                            frameborder="0" allow="accelerometer; autoplay;
                                                                           encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>

                    </iframe>
                </p>
            </div>
            <hr>
            <div class="row">
                <div class="single-form-left">
                    <!-- contact form grid -->
                    <div class="contact-single">
                        <h3 class="editContent" style="outline: none; cursor: inherit;">
                                    <span class="sub-tittle editContent"
                                          style="outline: none; cursor: inherit;">02</span>Оставить отзыв</h3>
                        <form action="#" method="get" class="mt-4">
                            <div class="form-group editContent"
                                 style="outline: none; cursor: inherit;">
                                <label for="contactcomment" class="editContent"
                                       style="outline: none; cursor: inherit;">Ваш комментарий
                                    *</label>
                                <textarea class="form-control border" rows="5"
                                          id="contactcomment" required=""></textarea>
                            </div>
                            <div class="d-sm-flex">
                                <div class="col-sm-6 form-group p-0 editContent"
                                     style="outline: none; cursor: inherit;">
                                    <label for="contactusername" class="editContent"
                                           style="outline: none; cursor: inherit;">Имя
                                        *</label>
                                    <input type="text" class="form-control border"
                                           id="contactusername" required="">
                                </div>
                                <div class="col-sm-6 form-group ml-sm-3 editContent"
                                     style="outline: none; cursor: inherit;">
                                    <label for="contactemail" class="editContent"
                                           style="outline: none; cursor: inherit;">Email
                                        *</label>
                                    <input type="email" class="form-control border"
                                           id="contactemail" required="">
                                </div>
                            </div>
                            <button type="submit"
                                    class="mt-3 btn btn-success btn-block py-3"
                                    style="outline: none; cursor: inherit;">Отправить
                            </button>
                        </form>
                    </div>
                    <!--  //contact form grid ends here -->
                </div>
                <div class="media py-5">
                    <img src="bundles/images/te2.jpg" class="mr-3 img-fluid" alt="image"
                         style="outline: none; cursor: inherit;">
                    <div class="media-body mt-4">
                        <h5 class="mt-0 editContent"
                            style="outline: none; cursor: inherit;">Daniel Doe</h5>
                        <p class="mt-2 editContent" style="outline: none; cursor: inherit;">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                            scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                            vulputate at, tempus viverra turpis.
                        </p>
                        <div class="media mt-5 editContent"
                             style="outline: none; cursor: inherit;">
                            <a class="pr-3" href="#">
                                <img src="bundles/images/te1.jpg" class="img-fluid "
                                     alt="image" style="outline: none; cursor: inherit;">
                            </a>
                            <div class="media-body">
                                <h5 class="mt-0 editContent"
                                    style="outline: none; cursor: inherit;">Leia Organa</h5>
                                <p class="mt-2 editContent"
                                   style="outline: none; cursor: inherit;"> Cras sit amet
                                    nibh libero, in gravida nulla. Nulla vel metus
                                    scelerisque ante sollicitudin. Cras purus odio,
                                    vestibulum in vulputate at, tempus viverra turpis. Fusce
                                    condimentum nunc ac nisi vulputate fringilla..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer>
    <div id="footer">
        <div id="sitemap">
            <h3>Карта сайта</h3>
            <div>
                <a href="/home/">Home</a>
                <a href="/about/">About</a>
                <a href="/services/">Services</a>
            </div>
            <div>
                <a href="/partners/">Partners</a>
                <a href="/customers/">Support</a>
                <a href="/contact/">Contact</a>
            </div>
        </div>
        <div id="footer-logo">
            <p>Copyright &copy; 2022 Movies.</p>
            <a href="/"><img src="{% static 'images/logo.png' %}" alt="Whitesquare logo" height="50" width="100"></a>
        </div>
    </div>
</footer>
</body>
</html>